html, body {
  margin: 0;
  padding: 0;
  background: #0d0d1a;
  overflow: hidden;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
